*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background:  #ffeead ;
}


.contacts__header{
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    color: #ffffff;
}
.content__empty{
    text-align: center;
    color: #ffffff;
    font-size: 28px;
}
.contact__button, .btn__load{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #b3872f;;
    background-color:#f8ca6ef7 ;
    color: #ffffff;
}
.contact__button:hover,.delete__button:hover{
   cursor: pointer;
   transform: scale(1.2) ;
   transition: transform 0.3s;

}
ul,.coins__body{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    color: #f6f3ee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    /* border-bottom: 1px solid #ffff; */
    padding:5px;
    background-color: #b09c74f7;
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    border: 1px solid #b3872f;
    font-size: larger;
 

}
li>div{
    padding: 5px;
    border-bottom: 1px solid #b3872f;
    
}
.delete__button{
    width: 80px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #b3872f;;
    background-color:#ffffff ;
    color: #f8ca6ef7;
    margin: 0 auto;
    display: block;
}
/* ************************************************************************** */

/* ***************************************************************** */
.loader {
    display: inline-block;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    position: relative;
  }
  .loader::before {
    content: '';  
    position: absolute;
    left: 34px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    box-sizing: border-box;
    animation: rotation 0.6s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  .preolder{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }